{% extends 'base.html' %}

{% block title %}
Support
{% endblock %}

{% block body %}
<div class="container" style="margin-top: 100px">
    <h1>Place for notes!</h1>
    <form action="/notes" method="post">
        <input type="text" name="importance" id="importance" class="form-control" placeholder="Enter for importance"><br>
        <textarea name="text" id="text" class="form-control" placeholder="Text"></textarea><br>
        <input type="submit" class="btn btn-success" value="Send">
    </form>
</div>

{% endblock %}